.title_card {
    margin-bottom: 20px;
}

.user_card {
    display: flex;
}

.avatar img {
    width: 100px;
    height: 100px;
    border: 1px solid #e1e4e8;
}

.user_title {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.name {
    margin-bottom: 10px;
    font-size: 20px;
}

.btn_profile {
    padding: 6px;
    outline: none;
    text-decoration: none;
    background-color: #28a745;
    color: #fff;
    height: 18px;
    border-radius: 3px;
    font-size: 14px;
}